<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard - Admin</title>
    <link rel="stylesheet" th:href="@{/css/style2.css}" />
</head>
<body>

<div class="container">
    <div class="sidebar">
        <img th:src="@{/img/logo.png}" alt="Admin Logo" class="logo-img" />
        <ul>
            <li><a th:href="@{/admin/accueil}">Dashboard</a></li>
            <li><a th:href="@{/admin/utilisateurs}">Gérer Utilisatuer</a></li>
            <li><a th:href="@{/logout}">Déconnexion</a></li>
            
        </ul>
    </div>

    <div class="main">
        <h2>Bienvenue Admin,</h2>
        <p th:text="${message}">Voici un aperçu de votre tableau de bord.</p>

        <div class="card">
            <h3>Statistiques générales</h3>
            <div class="stats">
                <div class="stat-box">
                    <h2 th:text="${fournisseurCount}"></h2>
                    <p>Fournisseurs</p>
                </div>
                <div class="stat-box">
                    <h2 th:text="${commandeCount}"></h2>
                    <p>Commandes</p>
                </div>
            </div>
        </div>

        
    </div>
</div>

</body>
</html>
