
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Passer une commande - Magasinier</title>
    <link rel="stylesheet" th:href="@{/css/passcomm.css}" />
    
</head>
<body>

<div class="container">
    <div class="sidebar">
        <img th:src="@{/img/logo.png}" alt="Logo" class="logo-img" />
        <ul>
            <li><a th:href="@{/magasinier}">Dashboard</a></li>
            <li><a th:href="@{/magasinier/articles}">Gestion des articles</a></li>
            <li><a th:href="@{/magasinier/alertes}">Alertes</a></li>
            <li><a th:href="@{/magasinier/commande}">Passer commande</a></li>
            <li><a th:href="@{/logout}">Déconnexion</a></li>
        </ul>
    </div>

    <div class="main">
        <h2>Passer une commande</h2>

        <div class="card">
            <form th:action="@{/magasinier/commandes/save}" method="post">
                <input type="text" name="nomArticle" placeholder="Nom de l'article" required />

                <input type="text" name="nomMagasinier" placeholder="Nom du magasinier" required />

                <input type="number" name="quantite" placeholder="Quantité" min="1" required />

                <button type="submit">Passer la commande</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>
